.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 50%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-30%, -30%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 26px;
    padding: 11px 16px;
    border: line;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: white;
  }