.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 50%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-30%, -30%);
    background-color: rgb(4, 68, 58);
    color: white;
    font-size: 11px;
    padding: 11px 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .container .btn:hover {
    background-color: black;
  }